<h1>Listing documents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Body</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suggestions.each do |suggestion| %>
  <tr>
    <td><%= suggestion.title %></td>
    <td><%= suggestion.slug %></td>
    <td><%= suggestion.body %></td>
		<td><%= suggestion.votes.count %></td>
    <td><%= link_to 'Show', suggestion %></td>
    <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
    <td><%= link_to 'Destroy', suggestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New suggestion', new_suggestion_path %>
