<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @suggestion.title %>
</p>

<p>
  <b>Body:</b>
  <%= @suggestion.body %>
</p>

<p>
	<b>Voting:</b>
	<%= form_for([@suggestion, @suggestion.votes.build]) do |f| %>
		<%= f.hidden_field(:value,:value => 1) %>
		<%= f.submit "+" %>
	<% end %>
	<%= form_for([@suggestion, @suggestion.votes.build]) do |f| %>
		<%= f.hidden_field(:value,:value => 0) %>
		<%= f.submit "-" %>
	<% end %> 
</p>

<p>
	<b>Features:</b>
	<ul>
		<% @suggestion.features.each do |feature| %>
			<li>
				<%= feature.body %>
				+<%= feature.votes.find_all{|vote| vote.value == true}.count %>/-<%= feature.votes.find_all{|vote| vote.value == false}.count %>, rozdíl <%= feature.votes_difference %> 
				
				<%= form_for([@suggestion, feature, feature.votes.build]) do |f| %>
					<%= f.hidden_field(:value,:value => 1) %>
					<%= f.submit "+" %>
				<% end %>
				<%= form_for([@suggestion, feature, feature.votes.build]) do |f| %>
					<%= f.hidden_field(:value,:value => 0) %>
					<%= f.submit "-" %>
				<% end %>
				<%= link_to "Edit", edit_suggestion_feature_path(@suggestion, feature) %> | 
				<%= link_to "Delete", suggestion_feature_path(@suggestion,feature), :confirm => 'Are you sure?', :method => :delete %>
			</li>
			<!-- TODO edit and delete for admin only -->
		<% end %>
	</ul>
</p>

<p>
	<b>Add a feature:</b>
	<%= form_for([@suggestion, @suggestion.features.build]) do |f| %>
		<%= f.label :body %>
		<%= f.text_area :body %>
		<%= f.submit "Add a feature" %>
	<% end %>
</p>


<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
